.input__container {
  align-items: center;
  justify-content: center;
  /* padding: 0.9rem; */
  /* background-color: red; */
}
.input {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 1rem;
}
.input1 {
  width: 400px;
}
.modal-content {
  width: 650px;
  position: absolute;
  left: 5%;
  margin-right: auto;
  height: fit-content;
  padding-left: 2rem;
}

.drop__down {
  margin-top: 16px;
  width: 250px;
}
.input__names {
  display: flex;
  width: 100%;
  gap: 0.3rem;
}
