.input__container {
  align-items: center;
  justify-content: center;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.modal-content {
  width: 650px;
  position: absolute;
  left: 5%;
  margin-right: auto;
  height: fit-content;
  padding-left: 2rem;
}

.drop__down {
  margin-top: 16px;
}
.input__names {
  display: flex;
  width: 100%;
  gap: 2rem;
  border: none;
}
::placeholder {
  font-size: 12px;
  color: rgb(174, 172, 170) !important;
}
.form-select {
  color: rgb(132, 130, 127);
}
