.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.staff {
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
}

.staff__container {
  width: 1140px;
  align-items: center;
}
.icon .header__icon {
  font-size: 40px;
}
.header__text p {
  font-size: 20px;
}
.form {
  width: 900px;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: auto;
  padding: 2rem;
}
.btn {
  width: 180px;
  background-color: #023e8a;
  color: #fff;
  outline: none;
  border-style: none;
}
.btn:hover {
  width: 180px;

  color: #ffffff65;
}
.btn span {
  padding-right: 5px;
  color: #fff;
}
.new__staff-container {
  margin: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.577);
  border-radius: 0.3rem;
  padding: 1.2rem;
}
.table__data {
  display: flex;
  justify-content: space-around;
  background-color: #023e8a;
  align-items: center;
  color: #fff;
  border-radius: 0.3rem;
}
.table__data p {
  padding-top: 10px;
  letter-spacing: 1px;
}
