.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.staff {
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
}

.staff__container {
  width: 1140px;
  align-items: center;
  padding-left: 100px;
}
.icon .header__icon {
  font-size: 40px;
}
.header__text p {
  font-size: 20px;
}
.form {
  width: 800px;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: auto;
  padding: 2rem;
}
.addNew__btn {
  width: 150px;
  background: #023e8a;
  color: #fff;
  outline: none;
  border-style: none;
  padding: 0.4rem;
}
.submit__btn {
  background: #0252bb;
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: none;
  color: #ffff;
  font-size: 16px;
}
.submit__btn:hover {
  background: #02449acb;
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: none;
  color: #ffff;
  font-size: 16px;
}
.addNew__btn:hover {
  color: #fffffff1;
  background: #0252bb;
}
.addNew__btn span {
  padding-right: 5px;
  color: #fff;
}
.new__staff-container {
  margin: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.577);
  border-radius: 0.3rem;
  padding: 1.2rem;
}

thead {
  background: rgba(0, 0, 255, 0.318);
  /* width: 100%; */
}
tr {
  padding: 2rem;
}
.drop__down {
  z-index: -50;
}

/* media querries */

@media screen and (max-width: 672px) {
  .staff {
    width: 100vw;
    padding: 0.5rem;
    justify-content: center;
  }
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 2rem;
    margin: 0;
  }

  .icon {
    display: none;
  }
  .staff__container {
    width: 100%;
    align-items: center;
    padding-left: 0;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }
  .form-control {
    width: 400px;
    margin: auto;
  }
  .table__data {
    padding-bottom: 2rem;
  }
  .new__staff-container {
    border: 1px solid rgba(128, 128, 128, 0.577);
    padding: 0.2rem;
    margin-bottom: 4rem;
  }
  /* thead th {
    font-size: 12px;
  }
  tbody td {
    font-size: 10px;
  } */
  .addNew__btn {
    width: 80%;
    background: #023e8a;
    color: #fff;
    outline: none;
    border-style: none;
    margin-bottom: 0.6rem;
    margin-left: 40px;
  }
  .addNew__btn:hover {
    color: #fffffff1;
    background: #0252bb;
  }
  /* .modal__staff {
    width: 100%;
  } */
  .changePassword__btn {
    width: 100%;
    background: #023e8a;
    color: #fff;
    outline: none;
    border-style: none;
  }

  .header {
    padding: 1rem;
    margin: 0;
  }
  .icon {
    display: none;
  }
  .header__text {
    margin: 0;
    padding: 0;
  }
  .table__data-container {
    z-index: -20;
  }
}
