.indSubs__container,
.ind__groups-subs,
.groupsSubs__container {
  width: 1140px;
  padding-left: 120px;
  justify-content: flex-start;
}
.insubs__content {
  border: 1px solid rgba(128, 128, 128, 0.548);
  padding: 2rem;
  border-radius: 0.3rem;
}
.logo img {
  width: 150px;
  padding: 1rem;
}
.header-text {
  border-bottom: 0.2rem solid #0000ff;
  border-left: 0.2rem solid #0000ff;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.header-text p {
  padding-left: 1rem;
}
.header_input {
  display: flex;
}

.addSubs__btn {
  background: blue;
  width: 180px;
  padding: 1rem;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin-left: 2rem;
}
.indSubs-table {
  margin-top: 2rem;
}
.groupsSubs__header h3 {
  text-align: center;
}
.subsCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.cards {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  max-height: 200px;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.cards:first-child {
  background: rgb(241, 194, 76);
}
.cards:nth-child(2) {
  background: rgb(82, 169, 82);
  color: #fff;
}
.cards:nth-child(3) {
  background: rgba(0, 0, 255, 0.563);
  color: rgb(241, 194, 76);
}
.cards:nth-child(4) {
  background: rgb(249, 71, 101);
  color: #efc3f0;
}

.progress-bar {
  width: 25%;
  height: 8px;
}
.progress {
  height: 8px;
  background: #fff;
}
.progress1 {
  background: yellow;
  border-radius: 0.3rem;
}
.progress-bar1 {
  width: 2%;
  height: 8px;
  background-color: #020554;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}
.progress1 {
  background: yellow;
  border-radius: 0.3rem;
}
.progress-bar1 {
  width: 5%;
  height: 8px;
  background-color: #020554;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}
.progress2 {
  background: rgb(255, 255, 255);
  border-radius: 0.3rem;
}
.progress-bar2 {
  width: 57%;
  height: 8px;
  background-color: #fb01ff;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}
.progress3 {
  background: rgb(20, 246, 69);
  border-radius: 0.3rem;
}
.progress-bar3 {
  width: 75%;
  height: 8px;
  background-color: #300230;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}
.chart__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.charts:nth-child(1) {
  background: green;
}
.charts:nth-child(2) {
  background: yellow;
}
