@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.dashboard,
.staff,
.userAccount,
.resetPassword,
.indSubs,
.ind__groups-subs,
.customerCare,
.Payments,
.autodebits,
.reports,
.settings,
.charts {
  display: flex;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding-top: 5rem;
}
/* * :root {
  --primary-color: #023e8a;
  --secondary-color: #012047;
  --btn-bg: #055bc5;
  --btn-hover-bg: #0571f4;
} */
